.container
  %h1 お掃除担当表
  .row
    .col.s5
      =form_with local: true, url: shuffle_cleaning_places_url, method: :get do |f|
        %table
          %thead
            %tr
              %th{style: 'text-align: center;'} 名前
              %th
              %th
          -@users.each do |user|
            %tr
              %td
                =f.label :user, value: user.id do
                  =f.check_box :user, {multiple: true, :checked => true, id: "user_#{user.id}" , include_hidden: false}, user.id, ''
                  %span=user.name
              %td
                =link_to(edit_user_path(user)) do
                  %i.material-icons edit
              %td
                =link_to(user_path(user), method: :delete, data: { confirm: '削除しますか？' }) do
                  %i.material-icons delete_forever
          =f.button'分担する(不在の場合はチェク外して下さい)', class: "waves-effect waves-light btn"
      .input-field
        = form_with local: true, model: @user do |f|
          %table
            %tr
              %td
                =f.label :name
                =f.text_field :name, value: '@'
              %td
                = f.label :gender_male, '男' do
                  = f.radio_button :gender, :male, inline: true
                  %span 男
              %td
                = f.label :gender_female, '女' do
                  = f.radio_button :gender, :female, inline: true
                  %span 女
              %td
                = f.submit '追加', class: "waves-effect waves-light btn"

    .col.s6{style: 'margin-left: 80px;'}
      %h4="#{@date}の担当"
      %table.striped
        %thead
          %tr
            %th 場所
            %th 担当者
        - @cleaning_places.each do |place|
          %tr
            %td=place.name
            %td=place.person_in_charge
      .input-field.role
        = form_with local: true, model: CleaningPlace.new do |f|
          %table
            %tr
              %td
                =f.label :name
                =f.text_field :name
              %td
                = f.submit '追加', class: "waves-effect waves-light btn"
      .send_to_mattermost
        = link_to '決定する (Mattermostに送信されます）',send_to_matermost_cleaning_places_path, { class: "waves-effect waves-light btn-large" }
